# Byte-compiled / cache
__pycache__/
*.py[cod]

# Entornos virtuales
.venv/

# Egg / wheel metadata
*.egg-info/
dist/
build/
pip-wheel-metadata/

# pytest cache
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# Editor / OS
.vscode/
.DS_Store
